/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,700&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

.bold {
  font-weight: 700;
}

/* Global */
* {
  font-family: 'Montserrat', sans-serif;
}

/* Aligns */

.center {
  text-align: center;
}

.mg-top-20 {
  margin-top: 20px;
}

.mg-top-40 {
  margin-top: 40px;
}

.mg-bottom-40 {
  margin-bottom: 40px;
}


.pd-sides-40 {
  padding: 0px 40px;
}

.pd-top-30-percent {
  padding-top: 30%;
}

// Titulos
h1 {
  padding-bottom: 15px;
  font-size: 30px;
}

// Formulário
.base-form input,
.base-form textarea,
.base-form select {
    margin-bottom: 10px;
    outline: none;
}

.base-form input {
    width: 100%;
    padding: 5px 10px;
    font-size: 15px;
}

.base-form textarea {
    width: 100%;
    min-height: 110px;
    padding: 5px 10px;
    resize: none;
    font-size: 15px;
}

.base-form select {
    width: 100%;
    padding: 5px 10px;
    font-size: 15px;
}

.base-form .btn-submit {
    padding: 8px 0;
    background-color: darkolivegreen;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
}

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Bootstrap */
@import '~@ionic/angular/css/ionic.bundle.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
